

html, body{
	margin: 0;
	padding: 0;
}

body{
	width:				75%;
	height: 			100%;
	margin:				0 auto;
	color:				black;
	background-color: 	white;
	text-align: 		center;
	font-family:		Verdana, Geneva, sans-serif;
	padding-top: 		20px;
}
div#header{
	width: 				100%;
	margin:				0px auto;
	background-color: 	rgb(4, 149, 74);
	border-radius: 		10px;
	text-align: 		left;
	color:				white;
}
div#header>h2{
	padding:			2% 0% 0% 2%;
}
div#header>p{
	padding:				0% 0% 2% 2%;
}
div#title{
	width: 				100%;
	margin:				20px auto;
	text-align: 		left;
	border: 			2px solid black;
	background-color: 	rgb(192,192,192);
}
div#content{
	width:		100%;
	padding:	20px 0px;
	min-height: 500px;
}
h1{
	margin: 		1% 5%;
	display: 		block;
	font-weight: 	bold;
}

nav{
	width: 				100%;
	margin:				0px auto;
	background-color:	white;
	text-align: 		center;
	max-height: 		2.2em;
}

nav>span{
	display: 				inline-block;
	vertical-align: 		top;
	background-color:		white;
	max-height: 			2.2em;
	overflow: 				hidden;
	font-size: 				1em;
	border-radius: 			5px;
	margin: 				0em 0.5em;

}
nav a{
	display: 			block;
	color: 				black;
	text-decoration: 	none;
	margin: 			0.5em;

}
.dropdown {
	transition: background-color 0.5s, max-height 0.5s, margin-bottom 0.5s, box-shadow 0.5s;
}

.dropdown:hover{
	background-color:	white;
	max-height: 20em;
	margin-bottom: -5em;
	box-shadow: rgba(0,0,0,0.3) 4px 4px 16px 0px;
}

div#footer{
	width:				100%;
	margin: 			0px auto;
	padding: 			1em;
	min-height: 		8em;
	color: 				white;
	background-color: 	rgb(4, 149, 74);
	
}
div#footer>span{
	display: inline-block;
}

div#footer a{
	text-decoration: none;
	color: inherit;
}
div#footer a:hover{
	color: gray;
}
div#footer>ul{
	list-style-type: none;
	display: inline-block;
	text-align: left;
}

.left-align{
    margin: 0;
    margin-left: 20px;
	float: left;
}
.right-align{
	margin-right: 20px;
	vertical-align: top;
	text-align: right;
	float: right;

}
