		<nav>
			<span id="home" class="dropdown">
				<a href="index.html">Home</a>
			</span>
			<span class="dropdown"><a href="teaching.html">Teaching</a></span>
			<span class="dropdown"><a href="research.html">Research</a></span>
			<span class="dropdown"><a href="personnel.html">Lab Personnel</a></span>
			<span class="dropdown"><a href="lab_news.html">Lab News</a></span>
			<span class="dropdown"><a href="publications.html">Publications</a></span>
			<span class="dropdown"><a href="contact.html">Contact</a></span>
			<span class="dropdown"><a href="links.html">Links</a></span>
		</nav>