<!DOCTYPE html>
<html>

{% include default-head.html %}

<body>
	<div id="center-pane">
		<div id="header">
			<div style="display:inline-block;margin:0em 0.5em;">
				<h2>Wendy Trzyna, PhD</h2>
				<p>Professor of Microbiology, Marshall University</p>
			</div>
			<img src="imgs/amoeba_wv.jpg" style="height:100%;float:right;">
		</div>

		{% include default-nav.html %}
		
		<div id="content">
			
			<h2>{{ page.title }}</h2>
	
			{{ content }}
		</div>
	</div>

	<div id="right-pane">
		<div id="right-pane-title">Acanthamoeba images from the Trzyna lab</div> 
		<img id="trzyna-lab-img" src="imgs/amoeba_web_pic_1.png" style="width:100%">
		<img id="trzyna-lab-img" src="imgs/amoeba_web_pic_2.png" style="width:100%">
		<img id="trzyna-lab-img" src="imgs/amoeba_troph_SEM_1.bmp" style="width:100%">
	</div>

	<!--
	<div id="footer">
		<ul class="left-align">
			<li><a href="index.html">Home</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="research.html">Research</a></li>
			<li><a href="personnel.html">Lab Personnel</a></li>
		</ul>
		
		<span class="right-align">
			<p>ADDRESS</p>
			<p>CONTACT INFO</p>
		</span>
		<span>
			<p>&copy; 2017 Wendy Trzyna</p>
		</span>
		
	</div>-->
</body>
</html>
