<!DOCTYPE html>
<html>
<head>
	<base href="{{ site.url }}">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="UTF-8">
	<title>Dr. Wendy Trzyna - {{ page.title }}</title>

</head>
<body>
	<nav>
		<span id="home"><a href="index.html">Home</a></span>
		<span><a href="contact.html">Contact</a></span>
		<span><a href="research.html">Research</a></span>
		<span><a href="personnel.html">Lab Personnel</a></span>
	</nav>

	<h1>{{ page.title }}</h1>
		
	{{ content }}
	<div id="footer">
		<p>&copy; 2016 Wendy Trzyna</p>
	</div>
</body>
</html>