<!DOCTYPE html>
<html>
<head>
	<base href="{{ site.url }}">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="UTF-8">
	<title>Dr. Wendy Trzyna - {{ page.title }}</title>
	
	<link rel="icon" type="image/ico" href="icons/amoeba_wv.ico">
</head>
<body>
	<div id="center-pane">
		<div id="header">
			<div style="display:inline-block;margin:0em 0.5em;">
				<h2>Wendy Trzyna, PhD</h2>
				<p>Professor of Microbiology, Marshall University</p>
			</div>
			<img src="imgs/amoeba_wv.jpg" style="height:100%;float:right;">
		</div>

		<nav>
			<span id="home" class="dropdown">
				<a href="index.html">Home</a>
			</span>
			<span class="dropdown"><a href="teaching.html">Teaching</a></span>
			<span class="dropdown"><a href="research.html">Research</a></span>
			<span class="dropdown"><a href="personnel.html">Lab Personnel</a></span>
			<span class="dropdown"><a href="lab_news.html">Lab News</a></span>
			<span class="dropdown"><a href="publications.html">Publications</a></span>
			<span class="dropdown"><a href="contact.html">Contact</a></span>
			<span class="dropdown"><a href="links.html">Links</a></span>
		</nav>

		
		<div id="content">
			
			<h2>{{ page.title }}</h2>
	
			<p>{{ content }}</p>
		</div>
	</div>

	<div id="right-pane">
		<div id="right-pane-title">Acanthamoeba images from the Trzyna lab</div> 
		<img id="trzyna-lab-img" src="imgs/amoeba_web_pic_1.png" style="width:100%">
		<img id="trzyna-lab-img" src="imgs/amoeba_web_pic_2.png" style="width:100%">
		<img id="trzyna-lab-img" src="imgs/amoeba_troph_SEM_1.bmp" style="width:100%">
	</div>

	<!--
	<div id="footer">
		<ul class="left-align">
			<li><a href="index.html">Home</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="research.html">Research</a></li>
			<li><a href="personnel.html">Lab Personnel</a></li>
		</ul>
		
		<span class="right-align">
			<p>ADDRESS</p>
			<p>CONTACT INFO</p>
		</span>
		<span>
			<p>&copy; 2017 Wendy Trzyna</p>
		</span>
		
	</div>-->
</body>
</html>
